{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
   Signup Page
{% endblock %}

{% block body_block %}

  {% if registered %}
    <div class="alert alert-success">
      Account created successfully
      <a href="{% url 'app_login:signin' %}">Login Here</a>
    </div>
  {% else %}
    <h1>Create New Account</h1>
    <form method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit " class="btn btn-success btn-sm">Create Account</button>
    </form>
      <br>
    <p>Already have an account? <a href="{% url 'app_login:signin' %}">login</a> to continue</p>
   {% endif %}
{% endblock %}